trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- task: Checkmarx AST@3
  displayName: "Run Checkmarx One Scan"
  inputs:
    CheckmarxService: 'Git-H'
    projectName: 'GitxAzure'
    branchName: 'main'
    tenantName: 'ps_prayash_mishra'
    additionalParams: |
      --debug
      --client-id myclient
      --client-secret 0z4aBQG1E7J6niqtqKr1c9uwBRFqmebs
