# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
  trigger:
  branches:
    include:
    - main
stages:
- stage: __default
  jobs:
  - job: Job
    pool:
      name: Default
    steps:
    - task: Application security testing@2025
      inputs:
        projectName: 'Azuredevops'
        enableProxy: false
        enableSastScan: true
        CheckmarxService: 'Sast Connection'
        enableSastBranching: false
        incScan: false
        generatePDFReport: true
        enableDependencyScan: false
